.four-0-four-section {
  width: 100%;
  height: 100vh;
  background: url(../img/404-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.error {
  text-align: center;
  font-size:3rem;
  margin-bottom: 30px;
}

.sub-line {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Playwrite PE", cursive;
}

.sub-line a {
  color: #000;
  text-decoration: none;
}

.sub-line a:hover {
  text-decoration: underline;
}
