.cart-section {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.product-list {
  width: 75%;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-container {
  margin: 10px 0;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}

.empty-img {
  width: 100%;
  display: block;
}

.sm-product {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

.cart-container .sm-product:last-child {
  margin-bottom: 0;
}

.sm-product-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.sm-text {
  width: 50%;
}

.sm-product-name {
  font-size: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.item-counter {
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.counter-btn,
.item-count {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.counter-btn {
  background-color: #f3f3f3;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 1px;
  cursor: pointer;
  border-radius: 50%;
}

.item-count {
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
}

.sm-price {
  font-size: 2rem;
}

.sm-delete-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid rgb(216, 216, 216);
  z-index: 2;
  cursor: pointer;
}

.sm-delete-btn img {
  height: 15px;
}

.checkout-section {
  width: 25%;
}

.checkout-box {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  padding: 25px;
}

.text {
  font-size: 1.5rem;
}

.checkout-btn,
.place-order-btn {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background: #03a9f4;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

.checkout-btn:hover,
.place-order-btn:hover {
  background: #0288d1;
  color: #000;
}

.bill {
  font-size: 2.5rem;
  margin: 10px 0;
}
