/* Footer styles */
footer {
  font-family: "Playwrite PE", cursive;
  color: #d5be8b;
  width: 100%;
  padding: 60px;
}

.footer-content {
  text-align: left;
  line-height: 1.5;
  font-size: 20px;
}

.footer-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: brown;
}

.footer-info {
  color: black;
  margin: 10px 0;
  font-size: 20px;
}

.footer-social-container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-container div {
  display: flex;
}

.social-link {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.social-link:first-child {
  margin-left: 0;
}

.social-link:hover {
  color: #fff;
}

.fa-brands,
.fab {
  font-size: 30px;
  color: #000;
}
