/* Form Section */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 5;
  display: none;
}

.form-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.form-container {
  width: 60%;
  min-width: 300px;
  height: 80vh;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  display: flex;
}

.form-img {
  width: 70%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form a {
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"] {
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  font-family: "Playwrite PE", cursive;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  outline: none;
}

::placeholder {
  color: #b9b9b9;
  text-transform: capitalize;
}

input:focus {
  border-color: #d5be8b;
}

.error {
  font-size: 1rem;
  color: red;
  margin: 5px 0;
  font-family: "Playwrite PE", cursive;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.error.show {
  opacity: 2;
}

.submit-btn {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
  background: #d5be8b;
  color: white;
  font-family: "Playwrite PE", cursive;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.other-form-link {
  margin-top: 10px;
  font-family: "Playwrite PE", cursive;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

#tc {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

#tc:checked {
  background: #b9b9b9;
}