body {
  font-size: 0.9rem;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 5;
  display: none;
}

.form-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}

.form-container {
  width: 60%;
  min-width: 300px;
  height: 80vh;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  display: flex;
}

.form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form a {
  text-decoration: none;
}

.form-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"] {
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  outline: none;
  height: 2rem;
}

::placeholder {
  font-family: "Playwrite PE", cursive;
  color: #b9b9b9;
  text-transform: capitalize;
  font-size: 0.7rem;
}

.error {
  font-size: 0.75rem;
  color: red;
  margin: 5px 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.error.show {
  opacity: 2;
}

.submit-btn {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
  background: #03a9f4;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

.submit-btn:hover {
  background: #0288d1;
  color: #000;
}

.other-form-link {
  margin-top: 10px;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

#tc {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

#tc:checked {
  background: #b9b9b9;
}

.tc-text {
  text-align: center;
}

.password-container {
  position: relative;
}

#password {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #000;
}

.eye-icon .fa-eye {
  display: none;
}

.eye-icon.show-password .fa-eye {
  display: inline;
}

.eye-icon .fa-eye-slash {
  display: inline;
}

.eye-icon.show-password .fa-eye-slash {
  display: none;
}
