* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: url("../img/wooden_table.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Playwrite PE", cursive;
  padding-top: 100px;
}

.product-section {
  width: 100%;
  margin-top: 120px;
  padding: 0px 5vw;
  display: flex;
  gap: 40px;
}

.product-image {
  width: 50%;
  height: 600px;
  object-fit: cover;
}

.product-title {
  font-size: 3rem;
}

.product-des {
  text-transform: capitalize;
  margin: 30px 0;
  font-family: "Playwrite PE", cursive;
  opacity: 0.5;
  font-size: 1.25rem;
  line-height: 30px;
}

.rating {
  display: flex;
}

.rating .star {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.rating-count {
  font-family: "Playwrite PE", cursive;
  opacity: 0.4;
  font-size: 14px;
  line-height: 40px;
  margin-left: 20px;
}

.price {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.product-btn {
  padding: 15px 40px;
  border: none;
  color: white;
  outline: none;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
}

.buy-btn {
  background-color: #d5be8b;
}

.cart-btn {
  background-color: #190c05;
}

.best-selling-product-section {
  padding: 100px;
}

.detail-des,
.review-section,
.add-review-section {
  width: 100%;
  padding: 100px 100px 0 100px;
}

.des {
  font-family: "Playwrite PE", cursive;
  line-height: 2rem;
  font-size: 1.25rem;
  opacity: 0.75;
}

.review-submit-container {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  justify-content: space-between;
}

.review-headline,
.review-field {
  width: 100%;
  height: 40px;
  border: 2px solid #c9c9c9;
  margin: 10px 0;
  padding: 10px;
  line-height: 40px;
  font-family: "Playwrite PE", cursive;
  color: black;
  outline: none;
  text-transform: capitalize;
  font-size: 1rem;
}

::placeholder {
  color: #c9c9c9;
}

.review-field {
  height: 160px;
  resize: none;
  padding: 0 10px;
}

.review-headline:focus,
.review-field:focus {
  border-color: #d5be8b;
}

.review-headline:focus,
.review-field:focus::placeholder {
  border-color: #d5be8b;
}

.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  min-height: 100px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  line-height: 1.2rem;
  z-index: 9;
  text-align: center;
  text-transform: capitalize;
  color: #ff3737;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.error.show {
  opacity: 1;
}

.add-review-btn {
  border: none;
  outline: none;
  background: #d5be8b;
  padding: 10px 20px;
  color: white;
  font-family: "Playwrite PE", cursive;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

.product-card {
  border: 5px solid #d5be8b;
}

.product-card,
.review-card {
  margin-right: 40px;
}
